// CSS Variables 

// Example
* {
  //Colors
  --font-main-color: #000000;
  --theme-color-one: #090909;
  --theme-color-two: #878787;

  // Fonts
  --theme-main-font: 'sans';
  --theme-alt-font: 'sans-serif';
}